@import '../sass/variables.scss';

.channel {
    flex: 1 0;
    border-top-left-radius: 10px;
    padding: 8px 11px;
    background: $quarternary-brand-color;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.channel-name {
    font-weight: 700;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
    font-size: 18px;
    padding-bottom: 8px;
}

.message-list {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    flex: 1 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.message-list::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.message {
    display: flex;
    margin-top: 12px;
}

.message-sender-icon {
    width: 49px;
    height: 49px;
    background-position: center;
    background-size: cover;
    border-radius: 29px;
    display: inline-block;
}

.message-content {
    flex: 1 0;
    padding-left: 10px;
}

.message-sender-name {
    font-weight: 700;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8);
}

.message-timestamp {
    opacity: 0.4;
    margin-left: 9px;
}

.message-post-content {
    margin-top: 2px;
}

.message-editor {
    background: $brand-color;
    border-radius: 10px;
    padding: 17px;
    min-height: 56px;
    overflow: hidden;
    border: 0px none;
    color:rgba(255, 255, 255, 1);
    outline: 0px none;
    font-weight: 300;
    width: 100%;
    resize: none;
    line-height: 18px;

    ::placeholder {
        color:rgba(255, 255, 255, 0.60);
    }
}