@import '../../sass/variables.scss';

.modal-join-space {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.modal-join-space-icon {
    padding: 20px;
}

.modal-join-space-actions {
    padding-top: 20px;
    text-align: left;

    .howler-button {
        width: 200px;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}

.modal-join-space-info {
    font-size: 12px;
}