.expand-button {
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 57px;
    height: 57px;
}

.expanded-nav-menu {
    text-align: center;
    bottom: 0px;
    position: absolute;
    width: 57px;

    .howler-button {
        margin-bottom: 10px;
    }
    
    .howler-tooltip {
        position: fixed;
        margin-top: 11px;
        margin-left: 14px;
    }
}

.invisible-dismissal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
}

.expanded-nav-search-spaces, .expanded-nav-add-spaces, .expanded-nav-join-spaces {
    z-index: 1001;
    position: relative;
    left: 0px;
    bottom: 0px;
}
