@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import './variables.scss';

a {
    color: $primary-action-color;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: $brand-color;
    background-color: #fff;
    border-color: #fff;
}

body, html {
    background: $brand-color;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
}

.vertical-divider {
    width: 1px;
    height: 65vh;
    background: $tertiary-brand-color;
}

.login-pane {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

:root {
    --amplify-background-color: $brand-color !important;
    --amplify-secondary-color: #fff !important;
    --amplify-secondary-contrast: #010615 !important;
    --amplify-grey: #fff !important;
    --border: 0px none !important;
    --border-color: #010615 !important;
}