$brand-color: #152349;
$secondary-brand-color: #455379;
$tertiary-brand-color: #010615;
$quarternary-brand-color: #28365A;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

$primary-action-color: #00A3FF;
$secondary-action-color: #EF5DA8;
$tertiary-action-color: #5D5FEF;
$inaction-color: #2E2E2E;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
