@import '../../sass/variables.scss';

.expand-button {
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    width: 57px;
    height: 57px;
    flex-shrink: 0;
}

.expanded-nav-menu {
    text-align: center;
    bottom: 0px;
    width: 57px;

    .howler-button {
        margin-bottom: 10px;
    }
    
    .howler-tooltip {
        position: fixed;
        z-index: 1002;
        margin-top: 11px;
        margin-left: 14px;
    }
}

.expanded-nav-search-spaces, .expanded-nav-add-spaces, .expanded-nav-join-spaces {
    z-index: 1002;
    position: relative;
    left: 0px;
    bottom: 0px;
}
