@import '../sass/variables.scss';

.channel-group {
    padding: 10px 15px;
    line-height: 29px;
}

.channel-group-name {
    font-weight: 700;
    font-size: 18px;
}

.channel-group-channel {
    padding: 0px 10px;
}

.channel-group-channel-name {
    font-weight: 300;
    cursor: pointer;
}

.channel-group-channel-name:hover {
    background: rgba(255, 255, 255, .05);
    padding: 0px 15px;
    margin: 0px -15px;
}

.channel-group-channel-name-focused {
    font-weight: 700;
    background: rgba(255, 255, 255, .1);
    padding: 0px 15px;
    margin: 0px -15px;
}

.channel-group-channel-name-mentions-you, .channel-group-channel-name-mentions-role {
    float: right;
    padding: 0px 10px;
    border-radius: 9px;
    line-height: 20px;
    margin-top: 4px;
    font-weight: 700;
    min-width: 29px;
}

.channel-group-channel-name-mentions-role {
    background: #A5A6F6;
}

.channel-group-channel-name-mentions-you {
    background: #F178B6;
}