@import '../sass/variables.scss';

.connecting-splash {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connecting-icon {
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
    animation: iconspin 1s infinite;
    animation-timing-function: cubic-bezier(0.6, -0.6, 0.3, 1.75);
}

.connecting-message {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 700;
}

@keyframes iconspin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}