@import '../sass/variables.scss';

.space-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100%;
    width: 100%;
}

.space-container-channels {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}