@import '../sass/variables.scss';

.space-icon {
    width: 57px;
    height: 57px;
    box-sizing: border-box;
    border-radius: 10px;
    background-position: center;
    background-size: 130%;
    margin-top: 14px;
    display: inline-block;
}

.space-icon-large {
    width: 114px;
    height: 114px;
}

.space-icon-selected {
    filter: drop-shadow(0px 2px 3px rgba(255, 255, 255, 0.66));
    border: 2px solid #BED8FF;
}
