@import '../sass/variables.scss';

.howler-tooltip-button {
    margin: -7px -10px;
    padding: 7px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}

.howler-tooltip-button-danger {
    color: $danger-action-color;
}

.howler-tooltip-button:hover {
    background: rgba(255, 255, 255, 0.2);
}